<div class="index-container">
    <img src="/images/beer.png" alt="">
    <button id="check-beer">Check the Beers!</button>
    <button id="random-beer">Check a Random Beer!</button>



    <script>
        document.getElementById('check-beer').addEventListener('click', () => window.location = '/beers');
        document.getElementById('random-beer').addEventListener('click', () => window.location = '/randomBeer');
    </script>
</div>